body{
    margin: 0;
    padding: 0;
    background: url(signinbg1.jpg) ;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.login{
    width: 320px;
    height: 420px;
    background: rgb(6, 6, 7);
    color: rgb(223, 79, 53);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box; 
    padding: 70px 30px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    
}
h1{
   margin: 0;
   padding: 0 0 20px;
   text-align: center ;
   font-size: 22px;

}
.login p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login input{
    width: 100%;
    margin-bottom: 20px;
}
.login input[type="text"], input[type="PASSWORD"]
{
    border: none;
    border-bottom: 1px  solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(245, 29, 76);
    font-size: 16px;
}
.login  input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #30ea0b;
    color: #fff;
    font-size: 18px;
    border-radius: 250px;
}
.login  input[type="submit"]:hover
{
    cursor: pointer;
    background: #07c9ff;
    color : #000;
}
.login a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(11, 101, 235);
}
.login a:hover
{
    color:skyblue;
}